@dark-text : #000;

@input-border-radius: 3px;

@sharebutton-bottom: 20px;

@twitter-blue : #1da1f2;
@import "enonic-admin-artifacts";

//More or less a global namespace
#share-it {
  display: inline-block;
  margin : 0px 5% 0px 5%;
  width  : 90%;

  h1 {
    font-size: 16px;
  }

  .platform {
    margin : 0.1rem 0;
    padding: 0 3% 50px 3%;

    h1,
    h2,
    h3,
    h4,
    h5 {
      display: inline-block;
    }

    .image {
      display       : inline-block;
      vertical-align: -1rem;
    }

    textarea.field {
      box-sizing: border-box;
      display   : inline-block;
      min-height: 2rem;
      padding   : 0.2rem;
      resize    : vertical;
      width     : 100%;
    }

    label {
      font-size: 2rem;
    }

    .submit {
      background-color: transparent;
      border          : 2px solid inherit;
      border-radius   : 5px;
      color           : inherit;
      float           : right;
      font-size       : 1.2rem;
      margin          : 0.4rem 0;
    }
  }

  //Twitter
  #twitter {
    background-color: @twitter-blue;
    color: white;

    .submit {
      border: 2px solid white;
    }

    .twitterLogo {
      width: 50px;
    }
  }

  //& .other-social {}
}